{% extends 'jks/navBar.html' %}

{% block title %} Our Gallary {% endblock title %}

{% load static %}

{% block main %}


<div class="container" style="margin-bottom: 20px; margin-top: 30px;">
    <div class="jumbotron" style="background-color: yellow; box-shadow: 30px 30px blue; border-radius: 20px;">

          <h1 class="ml6">
            <span class="text-wrapper">
                &nbsp;<i class="fas fa-camera" style="color: black;"></i> &nbsp;<span class="letters" style="color: rgb(15, 14, 14);">Have A Look At Our Hotel Gallary !!</span>
            </span>
          </h1>

          <p id="teamBio" class="lead" style="margin-left: 5px;"><i class="fab fa-pagelines"></i> Capture Every Moment Inside This Incredible Piece Of Architecture .... Have A Good Stay !! <i class="fas fa-heart"></i></p>
      </div>
  </div>


  <hr class="featurette-divider" style="margin-bottom: 30px; margin-top: 60px;">


<div class="card mb-3 rounded" id="idm1" style="margin: 0 auto; width: 50%;">
  <div class="img-wrapper">
    <img src="{% static '/img/IMG_2361.jpg' %}" class="card-img-top Inzoom" id="gallary_img" alt="Image">
  </div>
    <div class="card-body">
      <h5 class="card-title">Luxury Bedroom</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odio ad error quo in ipsum, dignissimos omnis? Esse quod itaque sapiente ea quia neque suscipit possimus adipisci, nihil ipsa ad sit repellendus.</p>
      <p class="card-text"><button type="button" class="btn btn-primary" id="idc1"> <span id="idb1">Let's Go Big !</span> </button></p>
    </div>
</div>

<div class="card mb-3 rounded" id="idm2" style="margin: 0 auto; width: 50%;">
  <div class="img-wrapper">
    <img src="{% static '/img/IMG_2366.jpg' %}" class="card-img-top Inzoom" alt="Image">
  </div>
    <div class="card-body">
      <h5 class="card-title">Living Area</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odio ad error quo in ipsum, dignissimos omnis? Esse quod itaque sapiente ea quia neque suscipit possimus adipisci, nihil ipsa ad sit repellendus.</p>
      <p class="card-text"><button type="button" class="btn btn-primary" id="idc2"> <span id="idb2">Let's Go Big !</span> </button></p>
    </div>
</div>

<div class="card mb-3 rounded" id="idm3" style="margin: 0 auto; width: 50%;">
  <div class="img-wrapper">
    <img src="{% static '/img/IMG_2364.jpg' %}" class="card-img-top Inzoom" alt="Image">
  </div>
    <div class="card-body">
      <h5 class="card-title">4k Cinema Hall</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odio ad error quo in ipsum, dignissimos omnis? Esse quod itaque sapiente ea quia neque suscipit possimus adipisci, nihil ipsa ad sit repellendus.</p>
      <p class="card-text"><button type="button" class="btn btn-primary" id="idc3"> <span id="idb3">Let's Go Big !</span> </button></p>
    </div>
</div>

<div class="card mb-3 rounded" id="idm4" style="margin: 0 auto; width: 50%;">
  <div class="img-wrapper">
    <img src="{% static '/img/IMG_2363.jpg' %}" class="card-img-top Inzoom" alt="Image">
  </div>
    <div class="card-body">
      <h5 class="card-title">Comfy Cozy King-Sized Bed</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odio ad error quo in ipsum, dignissimos omnis? Esse quod itaque sapiente ea quia neque suscipit possimus adipisci, nihil ipsa ad sit repellendus.</p>
      <p class="card-text"><button type="button" class="btn btn-primary" id="idc4"> <span id="idb4">Let's Go Big !</span> </button></p>
    </div>
</div>

<div class="card mb-3 rounded" id="idm5" style="margin: 0 auto; width: 50%;">
  <div class="img-wrapper">
    <img src="{% static '/img/IMG_2365.jpg' %}" class="card-img-top Inzoom" alt="Image">
  </div>
    <div class="card-body">
      <h5 class="card-title">Hall Stairs</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odio ad error quo in ipsum, dignissimos omnis? Esse quod itaque sapiente ea quia neque suscipit possimus adipisci, nihil ipsa ad sit repellendus.</p>
      <p class="card-text"><button type="button" class="btn btn-primary" id="idc5"> <span id="idb5">Let's Go Big !</span> </button></p>
    </div>
</div>

<div class="card mb-3 rounded" id="idm6" style="margin: 0 auto; width: 50%;">
  <div class="img-wrapper">
    <img src="{% static '/img/IMG_2370.jpg' %}" class="card-img-top Inzoom" alt="Image">
  </div>
    <div class="card-body">
      <h5 class="card-title">Legends Gaming Room</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odio ad error quo in ipsum, dignissimos omnis? Esse quod itaque sapiente ea quia neque suscipit possimus adipisci, nihil ipsa ad sit repellendus.</p>
      <p class="card-text"><button type="button" class="btn btn-primary" id="idc6"> <span id="idb6">Let's Go Big !</span> </button></p>
    </div>
</div>

<div class="card mb-3 rounded" id="idm7" style="margin: 0 auto; width: 50%;">
  <div class="img-wrapper">
    <img src="{% static '/img/IMG_2376.jpg' %}" class="card-img-top Inzoom" alt="Image">
  </div>
    <div class="card-body">
      <h5 class="card-title">Wide Terrace</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odio ad error quo in ipsum, dignissimos omnis? Esse quod itaque sapiente ea quia neque suscipit possimus adipisci, nihil ipsa ad sit repellendus.</p>
      <p class="card-text"><button type="button" class="btn btn-primary" id="idc7"> <span id="idb7">Let's Go Big !</span> </button></p>
    </div>
</div>

<div class="card mb-3 rounded" id="idm8" style="margin: 0 auto; width: 50%;">
  <div class="img-wrapper">
    <img src="{% static '/img/IMG_2369.jpg' %}" class="card-img-top Inzoom" alt="Image">
  </div>
    <div class="card-body">
      <h5 class="card-title">Classic Antique Interior Designing</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odio ad error quo in ipsum, dignissimos omnis? Esse quod itaque sapiente ea quia neque suscipit possimus adipisci, nihil ipsa ad sit repellendus.</p>
      <p class="card-text"><button type="button" class="btn btn-primary" id="idc8"> <span id="idb8">Let's Go Big !</span> </button></p>
    </div>
</div>

<div class="card mb-3 rounded" id="idm9" style="margin: 0 auto; width: 50%;">
  <div class="img-wrapper">
    <img src="{% static '/img/IMG_2371.jpg' %}" class="card-img-top Inzoom" alt="Image">
  </div>
    <div class="card-body">
      <h5 class="card-title">Gaming Nvidia Desktop Setup</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odio ad error quo in ipsum, dignissimos omnis? Esse quod itaque sapiente ea quia neque suscipit possimus adipisci, nihil ipsa ad sit repellendus.</p>
      <p class="card-text"><button type="button" class="btn btn-primary" id="idc9"> <span id="idb9">Let's Go Big !</span> </button></p>
    </div>
</div>

<div class="card mb-3 rounded" id="idm10" style="margin: 0 auto; width: 50%;">
  <div class="img-wrapper">
    <img src="{% static '/img/IMG_2377.jpg' %}" class="card-img-top Inzoom" alt="Image">
  </div>
    <div class="card-body">
      <h5 class="card-title">Centered Air Conditioning</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odio ad error quo in ipsum, dignissimos omnis? Esse quod itaque sapiente ea quia neque suscipit possimus adipisci, nihil ipsa ad sit repellendus.</p>
      <p class="card-text"><button type="button" class="btn btn-primary" id="idc10"> <span id="idb10">Let's Go Big !</span> </button></p>
    </div>
</div>

<div class="card mb-3 rounded" id="idm11" style="margin: 0 auto; width: 50%;">
  <div class="img-wrapper">
    <img src="{% static '/img/IMG_2374.jpg' %}" class="card-img-top Inzoom" alt="Image">
  </div>
    <div class="card-body">
      <h5 class="card-title">RGB Gaming Experience</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odio ad error quo in ipsum, dignissimos omnis? Esse quod itaque sapiente ea quia neque suscipit possimus adipisci, nihil ipsa ad sit repellendus.</p>
      <p class="card-text"><button type="button" class="btn btn-primary" id="idc11"> <span id="idb11">Let's Go Big !</span> </button></p>
    </div>
</div>






        <!-- ############   Script   $$$$$$$$$$$$$$ -->

<script>


    $("#idc1").click(function() {
      console.log(document.getElementById("idm1").style.width);
      if( document.getElementById("idm1").style.width == "100%" ) {
        $("#idm1").fadeIn(3000, function() { $("#idm1").css("height","50%"); });
        $("#idm1").fadeIn(3000, function() { $("#idm1").css("width","50%"); });
        $("#idb1").html("Let's Go Big !");
      }
      else {
        $("#idm1").fadeIn(3000, function() { $("#idm1").css("height","100%"); });
        $("#idm1").fadeIn(3000, function() { $("#idm1").css("width","100%"); });
        $("#idb1").html("Let's Be Small");
      }
    });

    $("#idc2").click(function() {
      console.log(document.getElementById("idm2").style.width);
      if( document.getElementById("idm2").style.width == "100%" ) {
        $("#idm2").fadeIn(3000, function() { $("#idm2").css("height","50%"); });
        $("#idm2").fadeIn(3000, function() { $("#idm2").css("width","50%"); });
        $("#idb2").html("Let's Go Big !");
      }
      else {
        $("#idm2").fadeIn(3000, function() { $("#idm2").css("height","100%"); });
        $("#idb2").fadeIn(3000, function() { $("#idm2").css("width","100%"); });
        $("#idb2").html("Let's Be Small");
      }
    });

    $("#idc3").click(function() {
      console.log(document.getElementById("idm3").style.width);
      if( document.getElementById("idm3").style.width == "100%" ) {
        $("#idm3").fadeIn(3000, function() { $("#idm3").css("height","50%"); });
        $("#idm3").fadeIn(3000, function() { $("#idm3").css("width","50%"); });
        $("#idb3").html("Let's Go Big !");
      }
      else {
        $("#idm3").fadeIn(3000, function() { $("#idm3").css("height","100%"); });
        $("#idm3").fadeIn(3000, function() { $("#idm3").css("width","100%"); });
        $("#idb3").html("Let's Be Small");
      }
    });

    $("#idc4").click(function() {
      console.log(document.getElementById("idm4").style.width);
      if( document.getElementById("idm4").style.width == "100%" ) {
        $("#idm4").fadeIn(3000, function() { $("#idm4").css("height","50%"); });
        $("#idm4").fadeIn(3000, function() { $("#idm4").css("width","50%"); });
        $("#idb4").html("Let's Go Big !");
      }
      else {
        $("#idm4").fadeIn(3000, function() { $("#idm4").css("height","100%"); });
        $("#idm4").fadeIn(3000, function() { $("#idm4").css("width","100%"); });
        $("#idb4").html("Let's Be Small");
      }
    });

    $("#idc5").click(function() {
      console.log(document.getElementById("idm5").style.width);
      if( document.getElementById("idm5").style.width == "100%" ) {
        $("#idm5").fadeIn(3000, function() { $("#idm5").css("height","50%"); });
        $("#idm5").fadeIn(3000, function() { $("#idm5").css("width","50%"); });
        $("#idb5").html("Let's Go Big !");
      }
      else {
        $("#idm5").fadeIn(3000, function() { $("#idm5").css("height","100%"); });
        $("#idm5").fadeIn(3000, function() { $("#idm5").css("width","100%"); });
        $("#idb5").html("Let's Be Small");
      }
    });

    $("#idc6").click(function() {
      console.log(document.getElementById("idm6").style.width);
      if( document.getElementById("idm6").style.width == "100%" ) {
        $("#idm6").fadeIn(3000, function() { $("#idm6").css("height","50%"); });
        $("#idm6").fadeIn(3000, function() { $("#idm6").css("width","50%"); });
        $("#idb6").html("Let's Go Big !");
      }
      else {
        $("#idm6").fadeIn(3000, function() { $("#idm6").css("height","100%"); });
        $("#idm6").fadeIn(3000, function() { $("#idm6").css("width","100%"); });
        $("#idb6").html("Let's Be Small");
      }
    });

    $("#idc7").click(function() {
      console.log(document.getElementById("idm7").style.width);
      if( document.getElementById("idm7").style.width == "100%" ) {
        $("#idm7").fadeIn(3000, function() { $("#idm7").css("height","50%"); });
        $("#idm7").fadeIn(3000, function() { $("#idm7").css("width","50%"); });
        $("#idb7").html("Let's Go Big !");
      }
      else {
        $("#idm7").fadeIn(3000, function() { $("#idm7").css("height","100%"); });
        $("#idm7").fadeIn(3000, function() { $("#idm7").css("width","100%"); });
        $("#idb7").html("Let's Be Small");
      }
    });

    $("#idc8").click(function() {
      console.log(document.getElementById("idm8").style.width);
      if( document.getElementById("idm8").style.width == "100%" ) {
        $("#idm8").fadeIn(3000, function() { $("#idm8").css("height","50%"); });
        $("#idm8").fadeIn(3000, function() { $("#idm8").css("width","50%"); });
        $("#idb8").html("Let's Go Big !");
      }
      else {
        $("#idm8").fadeIn(3000, function() { $("#idm8").css("height","100%"); });
        $("#idm8").fadeIn(3000, function() { $("#idm8").css("width","100%"); });
        $("#idb8").html("Let's Be Small");
      }
    });

    $("#idc9").click(function() {
      console.log(document.getElementById("idm9").style.width);
      if( document.getElementById("idm9").style.width == "100%" ) {
        $("#idm9").fadeIn(3000, function() { $("#idm9").css("height","50%"); });
        $("#idm9").fadeIn(3000, function() { $("#idm9").css("width","50%"); });
        $("#idb9").html("Let's Go Big !");
      }
      else {
        $("#idm9").fadeIn(3000, function() { $("#idm9").css("height","100%"); });
        $("#idm9").fadeIn(3000, function() { $("#idm9").css("width","100%"); });
        $("#idb9").html("Let's Be Small");
      }
    });

    $("#idc10").click(function() {
      console.log(document.getElementById("idm10").style.width);
      if( document.getElementById("idm10").style.width == "100%" ) {
        $("#idm10").fadeIn(3000, function() { $("#idm10").css("height","50%"); });
        $("#idm10").fadeIn(3000, function() { $("#idm10").css("width","50%"); });
        $("#idb10").html("Let's Go Big !");
      }
      else {
        $("#idm10").fadeIn(3000, function() { $("#idm10").css("height","100%"); });
        $("#idm10").fadeIn(3000, function() { $("#idm10").css("width","100%"); });
        $("#idb10").html("Let's Be Small");
      }
    });

    $("#idc11").click(function() {
      console.log(document.getElementById("idm11").style.width);
      if( document.getElementById("idm11").style.width == "100%" ) {
        $("#idm11").fadeIn(3000, function() { $("#idm11").css("height","50%"); });
        $("#idm11").fadeIn(3000, function() { $("#idm11").css("width","50%"); });
        $("#idb11").html("Let's Go Big !");
      }
      else {
        $("#idm11").fadeIn(3000, function() { $("#idm11").css("height","100%"); });
        $("#idm11").fadeIn(3000, function() { $("#idm11").css("width","100%"); });
        $("#idb11").html("Let's Be Small");
      }
    });





    // Wrap every letter in a span
    var textWrapper = document.querySelector('.ml6 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({loop: true})
    .add({
        targets: '.ml6 .letter',
        translateY: ["1.1em", 0],
        translateZ: 0,
        duration: 900,
        delay: (el, i) => 50 * i
    }).add({
        targets: '.ml6',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 10000
    });

  </script>



{% endblock main %}